<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить информацию о проверке здоровья</title>
</head>
<body>
<h1>Изменить информацию о здоровье</h1>
<form id="create-form" action="../tournament/createTournament.html" th:method="patch">
    <div>
        <label for="id-input">Идентификатор:</label>
        <input id="id-input" type="text" readonly="readonly" name="id" th:value="*{id}" value=""/>
    </div>
    <div>
        <label for="health-date-input">Дата посещения врача:</label>
        <input id="health-date-input" name="date" type="date" th:value="*{date}" value=""/>
    </div>
    <div>
        <label for="health-clinic-input">Название клиники:</label>
        <input id="health-clinic-input" name="clinic" type="text" th:value="*{clinic}" value=""/>
    </div>
    <div>
        <label for="health-doctorSpecialization-input">Специализация врача:</label>
        <input id="health-doctorSpecialization-input" name="doctorSpecialization" type="text"
               th:value="*{doctorSpecialization}" value=""/>
    </div>
    <div>
        <label for="health-doctorFullName-input">Доктор:</label>
        <input id="health-doctorFullName-input" name="doctorFullName" type="text" th:value="*{doctorFullName}"
               value=""/>
    </div>
    <div>
        <label for="health-result-input">Итог:</label>
        <input id="health-result-input" name="result" type="text" th:value="*{result}" value=""/>
    </div>
    <div class="row">
        <a href="../homePages/homePageAuth.html" th:href="@{/templates/health}">
            <button type="button" onclick="edit()">Сохранить</button>
        </a>
        <a href="../homePages/homePageAuth.html" th:href="@{/}">
            <button type="button">Отменить</button>
        </a>
    </div>
</form>
</body>
<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
<script>
    function edit() {

        const idInput = document.getElementById("id-input")
        const dateInput = document.getElementById("health-date-input")
        const clinicInput = document.getElementById("health-clinic-input")
        const doctorSpecializationInput = document.getElementById("health-doctorSpecialization-input")
        const doctorFullNameInput = document.getElementById("health-doctorFullName-input")
        const resultInput = document.getElementById("health-result-input")

        const health = {
            id: idInput.value,
            date: dateInput.value,
            clinic: clinicInput.value,
            doctorSpecialization: doctorSpecializationInput.value,
            doctorFullName: doctorFullNameInput.value,
            result: resultInput.value,
        }

        fetch("/api/v1/healths", {
            method: "PATCH",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(health)
        })
            .then(rawResponse => rawResponse.json())
            .then(json => newHealth.innerHTML = JSON.stringify(json, null, 4))

    }
</script>
</html>