<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить тренировку</title>
</head>
<body>
<h1>Добавить тренировку</h1>
<form id="create-form" action="createWorkout.html" th:method="post">
    <div>
        <label for="workout-title-input">Название тренировки:</label>
        <input id="workout-title-input" name="title" type="text" th:value="*{title}" value=""/>
    </div>
    <div>
        <label for="workout-date-input">Дата тренировки:</label>
        <input id="workout-date-input" name="date" type="datetime-local" th:value="*{date}" value=""/>
    </div>
    <div>
        <label for="workout-reflection-input">О тренировке:</label>
        <input id="workout-reflection-input" name="reflection" type="text" th:value="*{reflection}" value=""/>
    </div>
    <div class="row">
        <a href="../homePages/homePageAuth.html" th:href="@{/workout}">
            <button type="button" onclick="create()">Сохранить</button>
        </a>
        <a href="../homePages/homePageAuth.html" th:href="@{/}">
            <button type="button">Отменить</button>
        </a>
    </div>
</form>
</body>
<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
<script>
    function create() {

        const titleInput = document.getElementById("workout-title-input")
        const dateInput = document.getElementById("workout-date-input")
        const reflectionInput = document.getElementById("workout-reflection-input")

        const workout = {
            title: titleInput.value,
            date: dateInput.value,
            reflection: reflectionInput.value,
        }

        fetch("/api/v1/workout", {
            method: "POST",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(workout)
        })
            .then(rawResponse => rawResponse.json())
            .then(json => newWorkout.innerHTML = JSON.stringify(json, null, 4))

    }
</script>
</html>